/*****************************************
body
******************************************/
body{
    margin: 0px;
    background-color: lightgrey;
}

.text {
    display: flex;
    flex-wrap:wrap;
}

.topNav{
    display: flex;
}

.navHeader{
    align-self:baseline;
    background-color: gray;
    
    justify-content: center;
    color: azure;
    /* height: 100%; */
    /* width: 50%; */
}

/*****************************************
header
******************************************/

header
{
    display: flex;
    align-self:baseline;
    background-color: gray;  
    justify-content: center;
    color: azure;
    width: 50%;
}

/*****************************************
nav
******************************************/ 
 nav
{
    display: flex;
    align-self:baseline;
    background-color: gray;
    color: azure;   
    justify-content:space-between;
    margin-left:auto;
    width: 50%;
    
}

nav a{
    text-align: center;
    text-decoration: none;
    color: azure;
}

.sub{
    display: none; 
    position: absolute;  
}

nav a:hover{
    text-decoration: underline;
}

/*****************************************
text
******************************************/
.text{
    display: flex;
    align-self: baseline;
}
/*****************************************
media querries
******************************************/

.flexible{ width:100% }

@media screen and (min-width: 1000px) {
  /* For tablets: */
  .flexible { width: 50% } 
   
  
}

@media screen and (min-width: 1024px) {
  /* For desktop: */
  .flexible { width: 33.333% }  
  
}

@media screen and (max-width: 700px){
    /*so that the nav changes to colum at below 800px*/
    nav, .row{
        flex-direction: column;
    }

    select{
        padding: 50%;
    }

    section article select
{
    padding: 5%;
    font-size: 120%;
}
}
