/*****************************************
body
******************************************/
body{
    margin: 0px;
    background-color: lightgrey;
}

.bodyh1{
    text-indent: 7%;
}

.text {
    display: flex;
    flex-wrap:wrap;
    text-indent: 7%;
}

.topNav{
    display: flex;
}

#navHeader{
    align-self:baseline;
    background-color: gray;
    font-size: 2rem;
    justify-content: center;
    color: azure;
    /* height: 100%; */
    /* width: 50%; */
}

/*****************************************
header
******************************************/

header
{
    display: flex;
    align-self: center;
    background-color: darkgray;  
    justify-content: center;
    color: gray;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
}

header h2
{
   font-size: 1rem;
   color: lightgrey;
   align-self: center;
}

header img {
   height: 30%;
   width: 15%;
}

/*****************************************
nav
******************************************/ 
header nav
{
    display: flex;
    align-self:baseline;
    color: azure;   
    margin-left:auto;
    margin-top: 2%;
    width: 50%;
    justify-content: space-around;
    z-index: 0;
}

nav a, nav div{
    text-align: center;
    text-decoration: none;
    color: azure;
    font-size: 1.5rem;
}

.mainNav{
    position: relative;
    display: inline-block;
}

.mainNav .sub{
    position: absolute;
    background-color: darkgray; /*makes it have its own little back ground so that it looks like a stand alone menu to the viewer*/
}

.mainNav:hover .sub{ 
    display: block;
    z-index: 1;
}

.sub{
    display: none; 
    position: absolute;  
    
}

.sub a {
    display: block;
}

nav a:hover{
    text-decoration: line-through;
}




/*****************************************
text
******************************************/
.row{
    z-index: 0;
    display: flex;
    align-self: baseline;
    text-align: left;
    margin: 2%;
}

/*****************************************
feild set / form
******************************************/
fieldset{
    display: flex;
    padding-left: auto;
    color: #303030;
    border-top-color:  #303030;
    justify-items: center;
    margin: 5%;
}

form{
    align-items: baseline;
}

input[type=text]
{
    background-color: #606060;
    color: #fdfdfd;
    margin: auto;
    width: 50%;
}

input[type=email]
{
    background-color: #606060;
    color: #fdfdfd;
    margin: auto;
    width: 50%;
    
}

input[type=submit]
{
    background-color: #606060;
    color: #fdfdfd;
    margin: auto;
    font-size: 120%;
}

label {
    color: #fdfdfd;
    font-size: 140%;
    margin-left: 25%;
    justify-content: baseline;
    
}

/*****************************************
media querries
******************************************/

.flexible{ width:100% }

@media screen and (min-width: 1000px) {
  /* For tablets: */
  .flexible { width: 50% } 
   
  
}

@media screen and (min-width: 1024px) {
  /* For desktop: */
  .flexible { width: 33.333% }  
  
}

@media screen and (max-width: 700px){
    /*so that the nav changes to colum at below 800px*/
    nav, .row{
        flex-direction: column;
    }

    select{
        padding: 50%;
    }

    section article select
{
    padding: 5%;
    font-size: 120%;
}
}
